@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Source+Code+Pro:wght@200;300;400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Ubuntu&display=swap");

:root {
  --toastify-color-info: #5c7df9;
  --toastify-color-success: #0ecb81;
  --toastify-color-warning: #ffc82c;
  --toastify-color-error: #ea3943;
}

.hljs {
  background-color: transparent; /* Remplacez par la couleur de votre choix */
}

.Toastify__toast-icon {
  margin-bottom: auto;
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-top: 2px;
}

* {
  scrollbar-width: none;
}

input {
  background: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  display: none; /* pour Chrome, Safari, et quelques autres navigateurs */
}
*:focus,
*[data-focus] {
  box-shadow: none !important;
}

.mouse-cursor-gradient-tracking {
  position: relative;
  z-index: 1;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: "";
  position: absolute;
  z-index: -1;
  left: var(--x);
  top: var(--y);
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  background: radial-gradient(circle closest-side, #0b2040, transparent);
  backdrop-filter: blur(10px);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.rotating-effect {
  transition: transform 0.1s ease-in-out;
}

.rotating-effect:hover {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 220px;
}
@keyframes scroller {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes scrollerReverse {
  to {
    transform: translateX(calc(50% - 0.5rem));
  }
}

.scrollerAnimated {
  max-width: 100%;
  display: flex;
}

.scrollerAnimated-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.scrollerAnimated[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.scrollerAnimated[data-animated="true"] .scrollerAnimated-inner {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroller var(--_animation-speed, 50s)
    var(--_animation-direction, forwards) linear infinite;
}

.scrollerAnimated[data-direction="right"] {
  --_animation-direction: reverse;
}
.scrollerAnimated[data-speed="slow"] {
  --_animation-speed: 250s;
}

.scrollerAnimated[data-paused="true"] .scrollerAnimated-inner {
  animation-play-state: paused !important;
}

/* .skewBox {
  transform: rotateX(calc(var(--rotateX) * 2)) rotateY(calc(var(--rotateY) * 2));
  transition: transform 0.1s ease-out;
} */

@media screen and (max-width: 991px) {
  .scrollFilter::-webkit-scrollbar {
    width: 0px; /* width of the entire scrollbar */
    display: none;
  }
  .scrollFilter {
    overflow-y: scroll;
    scrollbar-width: none !important;
  }
  .scrollFilter::-webkit-scrollbar-track {
    display: none;
  }
  .scrollFilter::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
    display: none;
    background: grey;
  }
}

.scroll::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  display: none;
}

.scroll {
  overflow-y: scroll;
  scrollbar-width: none !important;
}

.scroll::-webkit-scrollbar-track {
  display: none;
  border-radius: 0px 10px 10px 0px;
}

.scroll::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  display: none;
  background: grey;
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost ::-moz-scrollbar {
  display: none;
}

.scrollhost {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

@layer utilities {
  :root {
    --custom-slider-thumb-light: theme("colors.light.font.100");
    --custom-slider-thumb-dark: theme("colors.dark.font.100");
    --custom-slider-thumb-border-light: theme("colors.light.border.primary");
    --custom-slider-thumb-border-dark: theme("colors.dark.border.primary");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --custom-slider-thumb: var(--custom-slider-thumb-dark);
      --custom-slider-thumb-border: var(--custom-slider-thumb-border-dark);
    }
  }

  @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
    :root {
      --custom-slider-thumb: var(--custom-slider-thumb-light);
      --custom-slider-thumb-border: var(--custom-slider-thumb-border-light);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      width: 100%;
      -webkit-appearance: none;
      background-color: grey;
    }

    .range-thumb::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 7px;
      height: 18px;
      background: rgba(255, 255, 255, 0.95);
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      align-items: center;
      box-shadow: -1000px 0 0 1000px #5c7df9;
      margin-top: -4px;
      margin-right: -2px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      margin-top: -1px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }
  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: grey;
  }
  input[type="range"]::-moz-range-track {
    background-color: grey;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: grey;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: grey;
  }
}
.ul-sitemap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.ul-sitemap li {
  flex-grow: 1;
  flex-basis: calc(20% - 20px); /* 20% moins la marge */
  max-width: calc(20% - 20px);
}

@media screen and (max-width: 991px) {
  .ul-sitemap li {
    flex-basis: calc(25% - 20px); /* 4 colonnes à cette taille d'écran */
    max-width: calc(25% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .ul-sitemap li {
    flex-basis: calc(33.33% - 10px); /* 3 colonnes */
    max-width: calc(33% - 10px);
  }
  .ul-sitemap {
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .ul-sitemap li {
    flex-basis: calc(50% - 10px); /* 2 colonnes */
    max-width: calc(50% - 10px);
  }
}
