.span {
  color: #64d0ff;
}

.main-title {
  font-size: 32px;
}

.main-subtitle {
  font-size: 24px;
}
.logo-customer {
  height: 50px;
  margin-right: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.container-customer {
  font-size: 20px;
}
.static-api {
  margin-right: 5%;
  font-size: 16px;
}
.dynamic-api {
  margin-left: 5%;
  font-size: 16px;
}
.static-title {
  font-size: 24px;
}
.dynamic-title {
  font-size: 24px;
}
.apis-text {
  font-size: 20px;
}

.request-btn {
  font-size: 22px;
  width: 180px;
  height: 50px;
}
.trust-title {
  font-size: 24px;
}

.customer {
  margin-top: 150px;
}

.container-customer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.apis-box {
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
}
.center-box {
  margin-right: 60px;
}

.grid {
  width: 20%;
  height: 120px;
}

.grid:nth-child(1) {
  margin-right: 5%;
}
.grid:nth-child(2) {
  margin-right: 2.5%;
}
.grid:nth-child(3) {
  margin-left: 2.5%;
}
.grid:nth-child(4) {
  margin-left: 5%;
}

.grid-bot {
  width: 20%;
  height: 120px;
}
.grid-bot:nth-child(1) {
  margin-right: 5%;
}
.grid-bot:nth-child(2) {
  margin-right: 2.5%;
}
.grid-bot:nth-child(3) {
  margin-left: 2.5%;
}
.grid-bot:nth-child(4) {
  margin-left: 5%;
}

.responsive-margin {
  margin-bottom: 5%;
}
.customer-box {
  width: 30%;
}

@media screen and (max-width: 1080px) {
  .logo-customer {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  .container-customer {
    font-size: 18px;
  }
  .static-api {
    margin-right: 30px;
    font-size: 16px;
  }
  .dynamic-api {
    margin-left: 30px;
    font-size: 16px;
  }
  .main-title {
    font-size: 24px;
  }
  .main-subtitle {
    font-size: 20px;
  }
  .static-title {
    font-size: 20px;
  }
  .dynamic-title {
    font-size: 20px;
  }
  .apis-text {
    font-size: 16px;
  }
  .request-btn {
    font-size: 18px;
    width: 140px;
    height: 40px;
  }
  .trust-title {
    font-size: 20px;
  }
  .customer {
    margin-top: 60px;
  }
  .grid {
    width: 45%;
  }
  .grid:nth-child(1) {
    margin-top: 0px;
    margin-right: 20px;
  }
  .grid:nth-child(2) {
    margin-top: 20px;
    margin-right: 0%;
  }
  .grid:nth-child(3) {
    margin-top: 20px;
    margin-left: 0%;
  }
  .grid:nth-child(4) {
    margin-top: 20px;
    margin-left: 20px;
  }
  .responsive-margin {
    margin-bottom: 20px;
  }
  .customer-box {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    width: 100%;
  }
  .left-box {
    margin-right: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .right-box {
    margin-left: 0px;
    margin-right: 0px;
  }
  .apis-box {
    flex-direction: column;
  }
  .customer-box {
    width: 95% !important;
    margin-bottom: 30px;
  }
  .container-customer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .grid {
    width: 100% !important;
  }
  .grid:nth-child(1) {
    margin-top: 0px;
    margin-right: 0px;
  }
  .grid:nth-child(2) {
    margin-top: 20px;
    margin-right: 0%;
  }
  .grid:nth-child(3) {
    margin-top: 20px;
    margin-left: 0%;
  }
  .grid:nth-child(4) {
    margin-top: 20px;
    margin-left: 0px;
  }
}
