.info-text {
  color: #58667e;
  font-family: "Inter", "Sans-sérif";
  font-size: 10px;
  margin-left: 2rem;
}

.info-tendance {
  display: flex;
  align-items: center;
  width: auto;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
}

.info-left {
  display: flex;
  margin-right: 1rem;
}

.blue-data {
  color: #5c7df9;
  font-family: "Inter", "Sans-sérif";
  font-size: 10px;
  margin-left: 0.6rem;
}

$primary: "blue";

:export {
  primary: $primary;
}

@media screen and (max-width: 768px) {
  .info-tendance {
    padding: 5px 0px;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
  }
  .info-tendance::-webkit-scrollbar {
    width: 1px;
    display: none; /* width of the entire scrollbar */
  }

  .info-tendance::-webkit-scrollbar-track {
    display: none;
  }

  .info-tendance::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px;
    display: none; /* roundness of the scroll thumb */
    border: 3px solid none; /* creates padding around scroll thumb */
  }

  .info-text {
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
